.exercise {
	border-top: 1px solid rgba(100, 108, 255, .5);
	margin-top: 16px;
	padding-top: 16px;
}

.buttonsWrapper {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 16px;
}

@media (min-width: 768px) {
	.exercise {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 16px;
	}
}